[submodule ".elisp/magit"]
	path = .elisp/magit
	url = https://github.com/magit/magit.git
[submodule ".elisp/ghc-mod"]
	path = .elisp/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule ".elisp/haskell-mode"]
	path = .elisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".elisp/emacs-eclim"]
	path = .elisp/emacs-eclim
	url = https://github.com/senny/emacs-eclim.git
[submodule ".elisp/dtrt-indent"]
	path = .elisp/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule ".elisp/helm"]
	path = .elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".elisp/color-theme-molokai"]
	path = .elisp/color-theme-molokai
	url = git@github.com:pSub/color-theme-molokai.git
[submodule ".elisp/evil"]
	path = .elisp/evil
	url = git://gitorious.org/evil/evil.git
