#!/bin/sh

# GnuPG-Agent
gpg-connect-agent /bye
GPG_TTY=$(tty)
export GPG_TTY
unset SSH_AGENT_PID
export SSH_AUTH_SOCK="${HOME}/.gnupg/S.gpg-agent.ssh"

# Load xrandr configuration
$HOME/bin/xrandr-config

# Start urxvt daemon
urxvtd -q -f -o

# Start notification daemon
dunst &

# Disable beep
xset b off &

# Set DPMS off
xset -dpms &

# Load the xbindkeys configuration
xbindkeys -f $HOME/.xbindkeysrc &

# Load touchpad (synaptics) configuration
$HOME/bin/synclient-config &

# Vertical and horizontal scrolling on Thinkpads
xinput set-int-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation" 8 1
xinput set-int-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation Button" 8 2
xinput set-int-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation Axes" 8 6 7 4 5

# Start trayer
trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 6 --transparent true --alpha 0 --tint 0x000000 --height 16 &

# Start nm-applet
nm-applet &

# Configure the wallpaper
$HOME/bin/wallpaper-config &

# Set background / wallpaper
$HOME/bin/wallpaper &

# Autostart applications
$HOME/bin/x-autostart &

xmodmap $HOME/.Xmodmap
