name: Unlock LUKS

on:
  workflow_dispatch:

permissions: read-all

jobs:
  cryptsetup-askpass:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Install SSH key
        uses: shimataro/ssh-key-action@6b84f2e793b32fa0b03a379cadadec75cc539391 # v2.8.0
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          config: ${{ secrets.SSH_CONFIG }}
          if_key_exists: fail

      - shell: bash
        env:
          LUKS_PASSPHRASE: ${{ secrets.LUKS_PASSPHRASE }}
        # TODO: Make this step fail if the luks device could not be opened
        run: echo "$LUKS_PASSPHRASE" | ssh root@152.53.0.129 cryptsetup-askpass || true