name: Deploy Server

permissions: read-all

on:
  push:
    branches:
      - master
    paths:
      - 'nixos/server/**'

  workflow_dispatch:
  workflow_call:
      secrets:
        SSH_PRIVATE_KEY:
          required: true
        SSH_CONFIG:
          required: true
        KNOWN_HOSTS:
          required: true

concurrency:
  group: ${{ github.head_ref ||  github.ref }}

jobs:
  deploy-server:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Setup ssh-agent
        uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2.7.0
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          config: ${{ secrets.SSH_CONFIG }} # ssh_config; optional
          if_key_exists: fail

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # V31.9.0
        with:
          # FIXME: Somehow nix-shell ignores NIX_PATH, see https://github.com/NixOS/nix/issues/10246
          nix_path: nixpkgs=channel:nixos-25.11

      - name: Check flake lock file
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
        with:
          flake-lock-path: nixos/server/flake.lock

      - name: Run nixos-rebuild
        uses: workflow/nix-shell-action@5fdff26c1325df635247f72cba79ffc370303fdb # v3.4.0
        with:
          packages: nixos-rebuild-ng
          working-directory: nixos/server
          script: |
            sudo cp -r $HOME/.ssh /root
            nixos-rebuild switch --no-reexec --use-substitutes --flake ".#nixos" --sudo \
              --target-host "github@152.53.0.129" --build-host "github@152.53.0.129" \
              --builders 'ssh://github@152.53.0.129 aarch64-linux'
