name: Update and Deploy Server

permissions: read-all

on:
  schedule:
    - cron: "45 1 * * *"

  workflow_dispatch:

jobs:
  update-flake-lock:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      previous_hash: ${{ steps.previous_commit.outputs.previous_hash }}
      current_hash: ${{ steps.current_commit.outputs.current_hash }}
      commit_message: ${{ steps.current_commit.outputs.commit_message }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Ensure that the previous run was successfull, if run is unsupervised
        if: ${{ github.event_name == 'schedule' }}
        uses: noirbizarre/need-checks@780f13ea99854c2762470fa3c1b994174531a29d # main
        with:
          conclusions: success,skipped

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Save hash of HEAD
        id: previous_commit
        run: echo "previous_hash=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"

      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # V31.8.4

      - name: Update flake lock file
        run: nix flake update --no-warn-dirty
        working-directory: ./nixos/server

      - name: Commit changes to flake lock file
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "[nixos/server] Bump flake.lock"
          commit_options: '--no-verify --signoff'
          file_pattern: nixos/server/flake.lock
          commit_user_name: Flake Bot
          commit_author: Flake Bot <actions@github.com>
          skip_dirty_check: false    
          skip_fetch: true

      - name: Save hash of HEAD
        id: current_commit
        run: |
          echo "current_hash=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
          echo "commit_message=$(git show -s --format=%s)" >> "$GITHUB_OUTPUT"

  deploy-server:
    needs: update-flake-lock
    if: |
     contains(needs.update-flake-lock.outputs.commit_message, '[nixos/server] Bump flake.lock') &&
     needs.update-flake-lock.outputs.current_hash != needs.update-flake-lock.outputs.previous_hash
    uses: ./.github/workflows/deploy-server.yml
    secrets: inherit
